@model IEnumerable<HabeckTurismo.Models.Cliente>

@{
    ViewData["Title"] = "Index";
}

<div class="header-pags p-0 m-0">
    <figure>
        <img class="img-fluid" src="~/Assets/aviaocoracaoesq.svg" alt="Avião">
    </figure>
    <h2 class="text-center">Clientes</h2>
    <figure>
        <img class="img-fluid" src="~/Assets/aviaocoracaodir.svg" alt="Avião">
    </figure>
</div>
<hr class="p-0 m-0">
<div class="w-100 p-5">
    <p>
        <a asp-action="Create" class="btn btn-primary d-inline-flex">
            <span class="material-icons px-1">
                add_circle
            </span>Adicionar Cliente
        </a>
    </p>
    <div class="card-deck d-flex">
        @foreach (var item in Model)
        {
            <div class="card border-secondary mb-3" style="max-width: 18rem;">
                <div class="card-header">Cliente n° @Html.DisplayFor(modelItem => item.Id)</div>
                <div class="card-body text-secondary">
                    <h5 class="card-title">@Html.DisplayFor(modelItem => item.Nome)</h5>
                    <p class="card-text">CPF: @Html.DisplayFor(modelItem => item.cpf)</p>
                    <p class="card-text">Endereço: @Html.DisplayFor(modelItem => item.endereco)</p>
                </div>
                <hr>
                <div class="text-center p-2">
                <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-warning btn-sm">
                    <span class="material-icons">
                        edit
                    </span>
                </a>
                <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-info btn-sm">
                    <span class="material-icons">
                        info
                    </span>
                </a>
                <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger btn-sm">
                    <span class="material-icons">
                        delete
                    </span>
                </a>
                <a asp-controller="Viagens" asp-action="Create" class="btn btn-secondary btn-sm">
                    Viajar!
                </a>
                </div>
            </div>
        }
    </div>
</div>
